In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [30]:


df=pd.read_csv(r"C:\Users\dell\Desktop\Task\MapUp-Data-Assessment-F\datasets\dataset-1.csv")

In [31]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [69]:
def generate_car_matrix(df)->pd.DataFrame:
    result_df=df.pivot(index="id_1",columns="id_2",values="car")
    result_df=result_df.fillna(0).astype(float)
    result_df.values[[range(len(result_df))]*2]=0.0


    return result_df

In [70]:
result_df

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

In [71]:
result_df=df.pivot(index="id_1",columns="id_2",values="car")
result_df=result_df.fillna(0).astype(float)
result_df.values[[range(len(result_df))]*2]=0.0
print(result_df)

id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

C:\Users\dell\AppData\Local\Temp\ipykernel_7968\4210117171.py:3: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result_df.values[[range(len(result_df))]*2]=0.0

In [49]:
def get_type_count(df)->dict:
    df['car_type']=pd.cut(df['car'],bins=[-float('inf'),15,25,float('inf')],labels=['low','medium','high'],right=False)
    type_count=df['car_type'].value_counts().to_dict()
    sorted_type_counts=dict(sorted(type_count.items()))
    return sorted_type_counts

sorted_type_counts

In [44]:
dict()

{}

In [50]:
result_type_counts=get_type_count(df)

In [51]:
print(result_type_counts)

{'high': 56, 'low': 196, 'medium': 89}

In [38]:
df

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]

In [52]:
def get_bus_indexes(df)->list:
    mean_bus_value=df['bus'].mean()
    bus_indexes=df[df['bus']>2*mean_bus_value].index.tolist()
    bus_indexes.sort()
    return bus_indexes

In [53]:
result=get_bus_indexes(df)

In [59]:
result

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

In [60]:
def filter_routes(df) -> list:    
    route_avg_truck=df.groupby('route')['truck'].mean()
    filtered_routes=route_avg_truck[route_avg_truck>7].index.tolist()
    filtered_routes.sort()

    return filtered_routes

In [61]:
result1=filter_routes(df)

In [62]:
result1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
def multiply_matrix(matrix)->pd.DataFrame:    
    modified_df = result_df.copy()
    modified_df=modified_df.applymap(lambda x:x*0.75 if x>20 else x*1.25)
    modified_df=modified_df.round(1)
    return modified_df

In [78]:
result_matrix =pd.DataFrame(result_df)

r=multiply_matrix(result_matrix)

In [79]:
r

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,3.5,7.5,9.6,14.6,16.8,21.1,24.5,15.8,17.6,18.5,19.9,20.9,21.8,23.2,24.4,27.2,28.7,29.4
802,3.5,0.0,4.2,6.5,11.5,13.6,17.9,21.4,23.1,15.7,16.6,17.9,19.0,19.9,21.2,22.4,25.3,26.8,27.5
803,7.5,4.2,0.0,2.5,7.5,9.6,13.9,17.4,19.1,22.2,23.6,15.5,16.6,17.5,18.8,20.0,22.9,24.4,25.1
804,9.6,6.5,2.5,0.0,5.5,7.6,11.9,15.4,17.1,20.2,21.6,23.9,15.4,16.3,17.6,18.8,21.7,23.2,23.9
805,14.6,11.5,7.5,5.5,0.0,2.5,6.8,10.2,12.0,15.0,16.5,18.8,20.5,22.0,24.2,15.8,18.6,20.1,20.8
806,16.8,13.6,9.6,7.6,2.5,0.0,4.8,8.2,10.0,13.0,14.5,16.8,18.5,20.0,22.2,24.3,17.4,18.9,19.6
807,21.1,17.9,13.9,11.9,6.8,4.8,0.0,3.6,5.4,8.5,10.0,12.3,14.0,15.5,17.7,19.8,24.5,16.2,16.9
808,24.5,21.4,17.4,15.4,10.2,8.2,3.6,0.0,2.1,5.2,6.6,8.9,10.6,12.1,14.3,16.4,21.2,23.6,24.8
809,15.8,23.1,19.1,17.1,12.0,10.0,5.4,2.1,0.0,3.6,5.1,7.4,9.2,10.6,12.8,14.9,19.7,22.1,23.3
821,17.6,15.7,22.2,20.2,15.0,13.0,8.5,5.2,3.6,0.0,2.2,4.6,6.3,7.8,10.0,11.8,16.6,19.0,20.2
822,18.5,16.6,23.6,21.6,16.5,14.5,10.0,6.6,5.1,2.2,0.0,2.8,4.5,5.9,8.2,10.0,14.8,17.2,18.4
823,19.9,17.9,15.5,23.9,18.8,16.8,12.3,8.9,7.4,4.6,2.8,0.0,2.2,3.7,5.9,7.7,12.5,14.9,16.1
824,20.9,19.0,16.6,15.4,20.5,9.8,14.0,10.6,9.2,6.3,4.5,2.2,0.0,2.1,4.4,6.2,11.0,13.3,14.6
825,21.8,19.9,17.5,16.3,22.0,20.0,15.5,12.1,10.6,7.8,5.9,3.7,2.1,0.0,2.8,4.6,9.3,11.7,12.9
826,23.2,21.2,18.8,17.6,24.2,22.2,17.7,14.3,12.8,10.0,8.2,5.9,4.4,2.8,0.0,2.6,7.3,9.6,10.9
827,24.4,22.4,20.0,18.8,15.8,24.3,19.8,16.4,14.9,11.8,10.0,7.7,6.2,4.6,2.6,0.0,5.2,7.6,8.8
829,27.2,25.3,22.9,21.7,18.6,17.4,24.5,21.2,19.7,16.6,14.8,12.5,16.0,9.3,7.3,5.2,0.0,3.0,4.2
830,28.7,26.8,24.4,23.2,20.1,18.9,16.2,23.6,22.1,19.0,17.2,14.9,13.3,0.0,9.6,7.6,3.0,0.0,1.7
831,29.4,27.5,25.1,23.9,20.8,19.6,16.9,24.8,23.3,20.2,18.4,16.1,14.6,12.9,10.9,8.8,4.2,1.7,0.0

In [86]:
def time_check(df)->pd.Series:    
    
    df['start_timestamp']=pd.to_datetime(df['startDay'] + ' ' + df['startTime'])
    df['end_timestamp'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'])
    incomplete_time_mask=(
        (df['start_timestamp'].dt.time != pd.to_datetime('00:00:00').time()) |
        (df['end_timestamp'].dt.time != pd.to_datetime('23:59:59').time())   |
        (df['start_timestamp'].dt.dayofweek > df['end_timestamp'].dt.dayofweek) |
        ((df['end_timestamp']-df['start_timestamp']).dt.total_seconds()>864000)
    )
    result_series=df.groupby(['id','id_2']).any()[incomplete_time_mask]
    return result_series

In [87]:
df=df=pd.read_csv(r"C:\Users\dell\Desktop\Task\MapUp-Data-Assessment-F\datasets\dataset-2.csv")
result_time=time_check(df)
print(result_time)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-01 05:00:00

In [82]:
df=pd.read_csv(r"C:\Users\dell\Desktop\Task\MapUp-Data-Assessment-F\datasets\dataset-2.csv")

In [83]:
df

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11